.collection-link {
    color: white;
  }
  
.collection-link:hover {
    color: #b33232;
}

.dialog {
    color: aliceblue;
    backdrop-filter: blur(5px);
}

.dialog h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.dialog div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

.dialog p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
}